*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.box {
    width: 150px;
    height: 150px;
  }
.nav_logo{
    width: 150px;
    height: 150px;
    top: -150px;
    left: 50px;
    object-fit: contain;
    width: 100%; 
    border: 1px;
}
.banner {
color: white;
object-fit: contain;
height: 220px;
}
.banner_conter {
    margin-left: 20px;
    padding-top: 80px;
    height: 5px;
    text-align:center;
}
.banner_title{
    font-size: 2rem;
    font-weight: 20;
    padding-bottom: 0.3rem;
}
.container{
    height: 2px;
    margin: 0 auto;
    max-width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.inline-1{
    background-image: url("robot.png");
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
    background-size: 120px;
    width: 120px;
    height: 120px;
    top: -200px;
    left: 100px;
}
.inline-2{
    background-image: url("pink.png");
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
    background-size: 120px;
    width: 120px;
    height: 120px;
    top: -200px;
    left: 100px;
}

.inline-3{
    background-image: url("panda\ 1.png");
    border: 2px solid black;
    box-sizing: border-box; 
    font-size: 16px;
    border-radius: 10px;
    background-size: 120px;
    width: 120px;
    height: 120px;
    top: -200px;
    left: 100px;
}

.inline-4{
    background-image: url("plus.png");
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 10px;
    background-size: 120px;
    width: 120px;
    height: 120px;
    top: -200px;
    left: 100px;
}
.inline-1:hover{
    border: 5px solid white;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}
.inline-2:hover{
    border: 5px solid white;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}
.inline-3:hover{
    border: 5px solid white;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}
.inline-4:hover{
    border: 5px solid white;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
}
button {
     width: 300px;
    height: 60px;
    top: -200px;
    left: 100px;
    font-size: 30px;
    font-weight: 20;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;

  }
  
  button:hover {
    background-color: white;
    color: black;
  }
